// 
@import "./var.sass"

@font-face
  font-family: Mona-Sans
  src: url('@/assets/fonts/Mona-Sans.woff2')
  font-display: swap

@font-face
  font-family: Source-Serif-4
  src: url('@/assets/fonts/Source-Serif-4.woff2')

  
.source
  font-family: "Source Serif 4", Georgia, serif
  font-weight: 500
  font-size: 72px

.sans
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 500
  font-size: 20px

*
  box-sizing: border-box

h1 
  margin: 0
  padding: 0

html
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 500
  color: $textColor
  background-color: #fff
  font-size: 16px

// body

#app
  min-height: 100dvh
  display: flex
  flex-direction: column
  justify-content: space-between

.box-x
  display: flex
  justify-content: space-between
  align-items: center

.box-y
  display: flex
  flex-direction: column
  justify-content: space-between


.center
  display: flex
  align-items: center
  justify-content: center

.gap
  gap: 1rem

.gap2
  gap: 2rem

.flex
  flex: 1

// ::selection 
//   background: hsla(133,100%, 50%,.5)
//   color: #fff
  

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-vertical
  background-color: #f1f1f1

::-webkit-scrollbar-thumb
  background-color: #9e9e9e
  border-radius: 6px

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important
  color: #fff

input:-moz-autofill
  box-shadow: 0 0 0 1000px #fff inset !important
  color: #fff

input:-webkit-autofill
  -webkit-text-fill-color: #000 !important

input
  color: $textColor
  border: none
  background: none

input:focus
  outline: none

input[type="search"]::-webkit-search-cancel-button 
  -webkit-appearance: none
  appearance: none

button
  background: none
  cursor: pointer
  color: $textColor
  border: none
  user-select: none

button:focus
  outline: none

a
  color: $textColor
  text-decoration: none
  user-select: none

nav
  user-select: none

.button
  background-color: $black
  color: $wight
  border-radius: 100px
  padding: 1em 3em
  transition: .1s
  cursor: pointer
  &_r
    background-color: #610000
  &_w
    padding: .5rem
    display: flex
    align-items: center
    justify-content: center
    background-color: #fff
    color: #000
    cursor: pointer
    transition: .2s
    &:hover
      & svg
        fill: hsl(133,59%,50%)
    & svg
      transition: .2s
      fill: rgba(0, 0, 0, .5 )
  &:hover
    box-shadow: 0 0 10px hsl(133,99%,74%)
    transform: scale(1.03)
  &_off
    &:hover
      transform: scale(1)


.hover
  transition: .2s
  &:hover
    position: relative
    z-index: 1
    padding: 0 0 10px
    margin: -10px 0 0px
    // box-shadow: 0 0 20px 0 #838383
    // transform: scale(1.05)

.mark
  font-size: 14px
  background-color: $mainColor
  padding: 1em 2em
  border-radius: 100px
  animation: 60s infinite alternate mark-animation

@keyframes mark-animation 
  0% 
    background-color: hsl(133,59%,74%)
  10% 
    background-color: hsl(97,59%,74%)
  20% 
    background-color: hsl(61,59%,74%)
  30% 
    background-color: hsl(25,59%,74%)
  40% 
    background-color: hsl(349,59%,74%)
  50% 
    background-color: hsl(313,59%,74%)
  60% 
    background-color: hsl(277,59%,74%)
  70% 
    background-color: hsl(241,59%,74%)
  80% 
    background-color: hsl(205,59%,74%)
  90% 
    background-color: hsl(169,59%,74%)
  100% 
    background-color: hsl(133,59%,74%)

  
  


